@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
}

.logo {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 2em;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-bottom: 2em;
}

/* @media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
  }
} */

.article {
  width: 80%;
  margin: 0 auto;
}

.input--bill {
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 0.7em;
  height: 80px;
  font-size: 30px;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: bolder;
}

.input--bill__1 {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 17px 20px;
  background-size: 20px;
}

.input--bill__2 {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 17px 20px;
  background-size: 20px;
}

.headers {
  font-size: 24px;
  font-family: "Space Mono", monospace;
  padding-top: 2em;
  padding-bottom: 1rem;
  font-weight: bolder;
  color: hsl(186, 14%, 43%);
}

.tip__box {
  max-width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 2em;
  margin-bottom: 1em;
}

/* @media screen and (min-width: 400px) {
  .tip__box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }
} */

.tip-percentages {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-weight: bolder;
}

.tip-custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
}

.tip-percentages:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-warning {
  display: none;
}

main {
  background-color: hsl(183, 100%, 15%);
  padding: 3rem;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 90%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.section--1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  color: hsl(0, 0%, 100%);
}

.label-tip-total {
  color: hsl(172, 67%, 45%);
  font-weight: bolder;
  font-size: 30px;
}

.label-tip-amount {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
  font-weight: bolder;
}

.tip-amount {
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: "Space Mono", monospace;
}

.tip-per-person {
  color: hsl(184, 14%, 56%);
  font-size: 20px;
}

.button-reset {
  width: 90%;
  padding: 0.5em;
  background-color: hsl(172, 67%, 45%);
  color: hsl(186, 14%, 43%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 10px;
  text-align: center;
  border: none;
}
